* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 20, 20);

    /* Hide scroll bars */
    overflow: hidden;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

main {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%,
            transparent 9%);
    background-position: 0% 0%;
    background-size: 4vmin 4vmin;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


#app {
    width: 90vw;
    height: 90vh;

    box-shadow: 0 0 70px 50px rgba(255, 255, 255, 0.116);

    border-radius: 5px;

    position: relative;
}

#app canvas {
    border-radius: 3px;
}

#app #instructions {
    position: absolute;
    top: 0;
    left: 0;

    margin: .5rem;
    height: 2rem;
    --key-icon-height: 1.3rem;

    font-size: .85rem;
    font-family: sans-serif;

    opacity: 35%;

    transition: all .2s;
}

#app img {
    height: var(--key-icon-height);
    position: relative;
    top: .29rem;
    margin: 0 -.05rem;

    transition: all .2s;
}

#app #instructions:hover,
#app.show-hints #instructions {
    font-size: 1.2rem;
    font-family: sans-serif;

    --key-icon-height: 1.9rem;

    opacity: 80%;
}

#app #credit {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: .5rem;
    font-size: .5rem;
    font-family: sans-serif;
    text-align: right;

    opacity: 40%;

    transition: all .2s;
}

#app #small-credit {
    font-size: 85%;
}

#app #credit:hover,
#app.show-hints #credit {
    font-size: .65rem;
    font-family: sans-serif;

    opacity: 90%;
}

#app #level-entry {
    position: absolute;
    bottom: 0;
    left: 0;

    margin: .5rem;
    width: 25rem;

    font-size: .85rem;
    font-family: sans-serif;

    opacity: 30%;

    transition: all .2s;
}

#app #level-entry:hover,
#app.show-hints #level-entry {
    opacity: 90%;
}

#app #level-entry textarea {
    min-height: 0;
    height: 2.5rem;
    margin-right: .2rem;
}

.button[disabled] {
    cursor: default;
}

a {
    text-decoration: none;
}